<section class="lu-what-new">
      <div class="container text-center">
          <h1 class="lu-section-title">Some features of Share My Kloset...</h1>

          <div class="row">
            <div class="col-md-4">
              <div class="lu-new-feature">
                  <div class="lu-new-feature-icon">
                    <i class="fa fa-money"></i>
                  </div>
                  <h3>Sell</h3>
                  <div class="lu-new-feature-text">Go ahead. Upload and sell everything you dont wear.</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lu-new-feature">
                  <div class="lu-new-feature-icon">
                    <i class="fa fa-users"></i>
                  </div>
                  <h3>Buy</h3>
                  <div class="lu-new-feature-text">Search our listings for that perfect item. Buy the style you've always wanted</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lu-new-feature">
                  <div class="lu-new-feature-icon">
                    <i class="fa fa-star"></i>
                  </div>
                  <h3>Socialize</h3>
                  <div class="lu-new-feature-text">Chat with with people.if you like what they have for sale</div>
              </div>
            </div>
          </div>
      </div>
    </section>