<h1 class="logo cursive">
   Launching September 2015.
   Share My Kloset
</h1>
<div class="content">
  <h4 class="motto"> A new platform where you can "Sell" clothes from your Kloset or "Buy"clothes from someone else's kloset</h4>
  
  <div class="subscribe">
     

    <h5 class="info-text">
    </h5>
        


  </div>

</div>



