<h1 class="logo cursive">
   Launching September 2015.
   Share My Kloset
</h1>
<div class="content">
  <h4 class="motto"> A New Social Platform Where You Can Buy And Sell Clothes.. </h4>
  
  <div class="subscribe">
     

    <h5 class="info-text">
   
   
     
      
        </h5>


  </div>

</div>



