<header class="lavel-up-header lavel-up-header-bg-img" data-stellar-background-ratio="0.5">
      <div class="lavel-up-color-overlay">
        <div class="container text-center">

          <!-- Logo start -->
          <div class="lu-logo">
          </div>
          <!-- Logo End -->

          <!-- Main Title start -->
          <h1 class="lu-title">Coming Soon."Share My Kloset" </h1>
          <h1 class="lu-title"> A New Way to Buy and Sell Your Clothes</h1>
          <!-- Main title end -->

          <!-- countdown start -->
          <h1 class="lu-title"> September 2015</h1>
          <!-- countdown end -->

          <!-- Newsletter signup start -->
          <%= render 'subscribe' %>
          <!-- Newsletter signup end -->

          <!-- Social networks -->
            <div class="lu-social-networks text-center">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          <!-- Social networks -->


        </div><!--.col-md-12-->
      </div><!--.row-->
    </header> 

    <!-- What's new coming section -->
    <%= render 'coming' %>
    <!-- What's new coming section end -->

    <!-- Contact form section -->
    <%= render 'contact' %>
    <!-- Contact form section end -->

    <footer class="lu-footer">
      <div class="container text-center">
        &copy; 2015 SMK, All Rights Reserved.Designed by RTucker.
      </div>
    </footer>

